/* Variables */
:root {
  --bg-primary: #fff;
}

/* Reset -------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General Style -------------------------------------------- */
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #ededed;
}

/* Utility Classes ------------------------------------------ */
.p-1 {
  padding: 1rem;
}
.py-1 {
  padding: 0.5 0;
}

.bold {
  font-weight: 700;
}

.round-border {
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.pointer {
  cursor: pointer;
}

/* Header -------------------------------------------------- */
#main-header {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

#logo {
  width: 130px;
}

.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Section: Posts -------------------------------------------- */
.post-wrapper {
  background-color: var(--bg-primary);
  margin-bottom: 1.5rem;
  position: relative;
}

/* Posts Header */
.post-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
/* Post Image */
.post-img {
  width: 100%;
}
/* Post Icons, Likes, Caption */
.post-icon {
  display: flex;
  gap: 1rem;
}

.fa-regular {
  font-size: 30px; /* fa-regular is a class for icons */
}
.fa-regular:hover,
.fa-regular:active {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.likes-count {
  display: inline-block;
  margin: 0.75rem 0;
}
/* --------------------------------------------------------- */

.image-middle-like {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 100px;
  display: none;
  animation: like-fade-out 0.8s ease-out forwards;
}

@keyframes like-fade-out {
  0% {
    font-size: 0;
    opacity: 0;
  }

  20% {
    font-size: 100px;
    opacity: 100;
  }

  30% {
    font-size: 60px;
    opacity: 100;
  }

  40% {
    font-size: 100px;
    opacity: 100;
  }

  80% {
    font-size: 100px;
    opacity: 100;
  }

  100% {
    font-size: 0;
    opacity: 0;
  }
}
